<div class="cv">
    <div class="twocol">
        <p class="twocol-left">
            Education
        </p>
        <p class="twocol-right">
            Certificate in Indie Games Development<br>
            National Film and Television School, UK (Remote)<br>
            2025<br>
            <br>
            Bachelor of Science in Media Technology<br>
            Hamburg University of Applied Sciences, Germany<br>
            2018-2024
        </p>
    </div>

    <div class="twocol">
        <p class="twocol-left">
            Work Experience
        </p>
        <p class="twocol-right">
            Student Internship in Computer Vision<br>
            Fraunhofer Institute for Production Systems and Design Technology, Germany<br>
            2023-2024<br>
        </p>
    </div>
</div>