:root {
  /* Color options */
  --bg: white; /* g&g: #d5d8df */
  --text: black;
  --link: blue;
  --link-hover: #678cfa;
  --dividers: black;
  /* Font & text options */
  --font-size: 14px;
  --line-height: normal;
  --indentation: 6ch; /* For lists, blockquotes, etc. */
  /* Layout options */
  --column-split: 35%;
  /* Other options */
  --img-radius: 4px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable; /* Prevents layout shift when scrollbar appears */
}
body {
  background-color: var(--bg);
  font-family: 'Times New Roman';
  font-size: var(--font-size);
  color: var(--text);
  line-height: var(--line-height);
}

main {
  flex: 1;
}
.page {
  display: flex;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

.column-left {
  flex: var(--column-split);
}
.column-right {
  flex: calc(100% - var(--column-split));
}

p {
  margin-bottom: 1lh;
}
p:last-of-type {
  margin-bottom: 0;
}

h1 {
  font-size: var(--font-size);
  text-align: center;
  margin-top: 1lh;
  margin-bottom: 1lh;
}

.home-greeting {
  padding-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-bottom: 2lh;
}

article {
  padding-left: 3rem;
  padding-right: 3rem;
}