{{- $content := .Content -}}
{{- $pattern := `\[\[([^\|\]]+)(\|([^\]]+))?\]\]` -}}

{{ $out := $content }}

{{ range findRE $pattern $content }}
  {{ $match := . }}
  {{ $target := replaceRE $pattern "$1" $match }}
  {{ $alias := replaceRE $pattern "${3}" $match }}
  {{ $text := cond (ne $alias "") $alias $target }}

  {{ $normalizedTarget := lower (plainify $target) }}
  {{ $page := "" }}
  {{ range site.RegularPages }}
    {{ if eq (lower (plainify .Title)) $normalizedTarget }}
      {{ $page = . }}
    {{ end }}
  {{ end }}

  {{ if $page }}
    {{ $link := printf `<a href="%s" class="wikilink">%s</a>` $page.RelPermalink $text }}
    {{ $out = replace $out $match $link }}
  {{ else }}
    {{ $link := printf `<a class="wikilink-missing" href="#">%s</a>` $text }}
    {{ $out = replace $out $match $link }}
  {{ end }}
{{ end }}

{{ $out | safeHTML }}
