<header>
  <div class="nav-row">
    
    <div class="nav-left">
      <a href="{{ "/" | relURL }}">PAUL HOFMANN</a>
      <div class="header-divider"></div>
    </div>
    
    <div class="nav-right">
      <div class="nav-right-items">
        {{ $sections := slice "portfolio" "notes" "feed" }}
        {{ range $sections }}
        <a href="/{{ . }}/" class="{{ if eq $.Section . }}active{{ end }}">{{ upper . }}</a>
      {{ end }}
      </div>
      {{ if and (not .IsHome) (not .IsSection) .Section }}
        <br><br><br><a href="{{ printf "/%s/" .Section | relURL }}" class="active">⬑ Back</a>
      {{ end }}
      <div class="header-divider"></div>
    </div>
    
  </div>
</header>
