<aside class="col right">
  {{ $section := .Section }}

  {{ if .Content }}
  
    <!-- Show "recent" listing on home page -->
    {{ if .IsHome }}
      {{ partial "listings/recent.html" . }}
    
    {{ else if not .IsSection }}

      <!-- Show "toc" listing for portfolio & posts -->
      {{ if or (eq $section "portfolio") (eq $section "posts") }}
        {{ partial "listings/toc.html" . }}

        <!-- Also show "backlinks" listing for posts -->
        {{ if eq $section "posts" }}
          <div class="listings-divider"></div>
          {{ partial "listings/backlinks.html" . }}
        {{ end }}

      <!-- Show only "backlinks" listing for notes -->
      {{ else if eq $section "notes" }}
        {{ partial "listings/backlinks.html" . }}
      {{ end }}

    {{ else }}
      {{ partial "groups/grouped-index.html" (dict "section" .Section "groupBy" "year" "Site" .Site) }}
    {{ end }}

  {{ end }}
</aside>
