{{ $class := "col left" }}
{{ if not .IsHome }}
  {{ $class = "col left mobile-hidden" }}
{{ end }}

<aside class="{{ $class }}">

  <header>
    <a href="{{ "/" | relURL }}">PAUL HOFMANN</a>
    <div class="header-divider"></div>
  </header>
  
  {{ with site.GetPage "sidebar" }}
      <div>{{ partial "content-parsed.html" . }}</div>
  {{ end }}

  <footer class="mobile-hidden">
    &copy; {{ now.Year }} Paul Hofmann, <a href="https://github.com/paulinprogress/Portfolio-Website"
    target="_blank" rel="noopener noreferrer" class="external">GitHub</a>
  </footer>
  
</aside>
