<aside class="col right">
  {{ $section := .Section }}

  {{ partial "headers/header-right.html" . }}

  {{ with site.GetPage "sidebar-right" }}
      <div>{{ partial "content-parsed.html" . }}</div>
  {{ end }}

  <!--
  {{ if .Content }}
  
    {{ if .IsHome }}
      {{ partial "listings/recent.html" . }}
    
    {{ else if not .IsSection }}

      {{ if or (eq $section "projects") (eq $section "posts") }}
        {{ partial "listings/toc.html" . }}

        {{ if eq $section "posts" }}
          <div class="listings-divider"></div>
          {{ partial "listings/backlinks.html" . }}
        {{ end }}

      {{ else if eq $section "notes" }}
        {{ partial "listings/backlinks.html" . }}
      {{ end }}

    {{ else }}
      {{ partial "groups/grouped-index.html" (dict "section" .Section "groupBy" "year" "Site" .Site) }}
    {{ end }}

  {{ end }}
  -->
</aside>
