{{ $project := .Get "project"}}
{{ $description := .Get "description" }}
{{ $twocol := .Get "twocol" | default "true" }}

{{ $matches := where site.RegularPages "Params.title" $project }}
{{ $page := index (first 1 $matches) 0 }}

{{ if not $page }}
  <em>Didn't find a project with this title.</em>
{{ end }}

{{ if not $description }}
  {{ if $page.Params.description }}
    {{ $description = $page.Params.description }}
  {{ else }}
    {{ $description = "*Bark Barque Baroque*, with John R. Nash<br>Soia Institute (1925-2006)" }}
  {{ end }}
{{ end }}

<div class="feature">
    {{ with $page }}
    <a href="{{ .RelPermalink }}">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
        {{ if eq $twocol "true" }}
            <div class="twocol">
                <p>{{ .Title }}</p>
                <p>{{ $description | markdownify }}</p>
            </div>
        {{ else }}
            <p>{{ $description | markdownify }}</p>
        {{ end }}
    </a>
    {{ end }}
</div>