{{ $limit := .Get "limit" | default 6 }}
{{ $type := .Get "type" }}

<div class="portfolio-grid">
  {{ $pages := where site.RegularPages "Section" "projects" }}

  {{ if $type }}
    {{ $pages = where $pages "Params.project-type" "intersect" (slice $type) }}
  {{ end }}

  {{ range first $limit $pages }}
    {{ if eq .Section "projects" }}
      <div class="portfolio-item">
        <a href="{{ .RelPermalink }}">
          <div class="thumb">
            <img src="{{ .Params.image }}" alt="{{ .Title }}">
          </div>
          <div class="title">{{ .Title }}</div>
        </a>
      </div>
    {{ end }}
  {{ end }}
</div>
